<div class="nav__bar__container">
    <div class="logo" routerLink="/home">
        <mat-icon>home</mat-icon>
    </div>
    <div class="auth__container">
        <div *ngIf="user$ | async" class="user__container">
            <button mat-stroked-button [matMenuTriggerFor]="menu">
                {{ (user$ | async).login }}
                <button mat-icon-button color="accent" aria-label="Example icon button with a menu icon">
                    <mat-icon>menu</mat-icon>
                </button>
            </button>

            <mat-menu #menu="matMenu">
                <button (click)="showStreamInitModal()" mat-menu-item>
                    Stream
                </button>
                <button *ngIf="channel && channel.isOnline" mat-menu-item (click)="finishStream()">
                    Finish Stream
                </button>
                <button class="menu__btn__container" (click)="logOut()" mat-menu-item>
                    <span>
                        LogOut
                    </span>
                    <mat-icon>open_in_new</mat-icon>
                </button>
            </mat-menu>
        </div>
        <div *ngIf="!(user$ | async)" class="auth__btn__container">
            <button (click)="showAuthModal()" mat-raised-button>
                Log In
            </button>
        </div>
    </div>
</div>