<div class="nav__bar__container">
    <div class="logo">Logo</div>
    <div class="auth__container">
        <div *ngIf="(user | async)" class="user__container">
            {{(user | async).login}}
        </div>
        <div class="auth__b__container" *ngIf="(user | async) == null">
            <button (click)="authProcessStarted(false)" class="auth__btn">Log In</button>
            <button (click)="authProcessStarted(true)" class="auth__btn">Sign In</button>
        </div>
        
    </div>
</div>

<app-authentication *ngIf="(isAuth | async)" [isSignUp]="isSignUp"></app-authentication>