.nav__bar__container {
    height: 60px;
    background-color: #e91e63;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.auth__btn {
    width: 70px;
    height: 30px;
    margin-right: 5px;
    border: none;

    &:hover {
        cursor: pointer;
    }
}
.user__container {
    margin-right: 20px;
}

.auth__btn__container {
    margin-right: 5px;
}

.menu__btn__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mat-menu-item .mat-icon {
    margin-right: unset !important;
}

.logo {
    margin-left: 10px;
    cursor: pointer;
}
