<div class="nav__bar__container">
    <div class="logo">Logo</div>
    <div class="auth__container">
        <div *ngIf="(user$ | async)" class="user__container">
            {{(user$ | async).login}}
            <button (click)="streamInitStarted()" class="auth__btn">Stream</button>
            <button (click)="logOut()" class="auth__btn">LogOut</button>
        </div>
        <div class="auth__b__container" *ngIf="(user$ | async) == null">
            <button (click)="authProcessStarted()" class="auth__btn">Sign Up</button>
        </div>
        
    </div>
</div>

<app-authentication *ngIf="(isAuth$ | async)"></app-authentication>
<app-email-verification *ngIf="(isEmailConfirmationProccess$ | async) != null"></app-email-verification>
<app-stream *ngIf="(isStreamProcess$ | async)"></app-stream>