.forms {
    display: flex;
    flex-direction: column;
}

form {
    margin-top: 10px;
}

.mat-dialog-actions {
    margin-bottom: -10px;
    display: flex;
    justify-content: space-between;
}

.stream__init_btn__container {
    display: flex;
    justify-content: space-around;
    button {
        border-color: #f44336;
        color: #f44336;
    }
}
