.forms {
    display: flex;
    flex-direction: column;
    &__signup {
        min-width: 375px;
    }
}

form {
    margin-top: 10px;
}

.mat-dialog-actions {
    margin-bottom: -10px;
    display: flex;
    justify-content: space-between;
}

.stream__init_btn__container {
    display: flex;
    justify-content: space-around;
    max-width: 375px;
    button {
        border-color: #f44336;
        color: #f44336;
    }
}

.text__wrap {
    white-space: initial !important;
}
