<mat-tab-group [dynamicHeight]="true">
    <mat-tab label="SignUp">
        <form [formGroup]="signUpForm">
            <div class="forms forms__signup">
                <mat-form-field appearance="legacy" color="warn">
                    <mat-label>Email</mat-label>
                    <input
                        matInput
                        placeholder="You email"
                        formControlName="email"
                    />
                </mat-form-field>

                <mat-form-field appearance="legacy" color="warn">
                    <mat-label>Login</mat-label>
                    <input
                        matInput
                        placeholder="You login"
                        formControlName="login"
                    />
                </mat-form-field>

                <mat-form-field appearance="legacy" color="warn">
                    <mat-label>Password</mat-label>
                    <input
                        matInput
                        type="password"
                        placeholder="You Password"
                        formControlName="password"
                    />
                </mat-form-field>

                <mat-form-field appearance="legacy" color="warn">
                    <mat-label>Repeat password</mat-label>
                    <input
                        matInput
                        type="password"
                        placeholder="You Password"
                        formControlName="repeatPassword"
                    />
                </mat-form-field>
            </div>
        </form>
        <mat-dialog-actions
            *ngIf="(signUpResultMessage.showMessage)"
            class="stream__init_btn__container"
        >
            <button class="text__wrap"  mat-stroked-button disabled>
                {{ signUpResultMessage.message}}
            </button>
        </mat-dialog-actions>
        <mat-dialog-actions>
            <button
                cdkFocusInitial
                mat-raised-button
                color="primary"
                (click)="signUp()"
            >
                Sign Up
            </button>
            <button mat-button mat-dialog-close>Cancel</button>
        </mat-dialog-actions>
    </mat-tab>
    <mat-tab label="LogIn">
        <form [formGroup]="logInForm">
            <div class="forms">
                <mat-form-field appearance="legacy" color="warn">
                    <mat-label>Email</mat-label>
                    <input
                        matInput
                        placeholder="You email"
                        formControlName="email"
                    />
                </mat-form-field>

                <mat-form-field appearance="legacy" color="warn">
                    <mat-label>Password</mat-label>
                    <input
                        matInput
                        type="password"
                        placeholder="You Password"
                        formControlName="password"
                    />
                </mat-form-field>
            </div>
        </form>
        <mat-dialog-actions
            *ngIf="(loginResultMessage.showMessage)"
            class="stream__init_btn__container"
        >
            <button mat-stroked-button disabled>
                {{ loginResultMessage.message }}
            </button>
        </mat-dialog-actions>
        <mat-dialog-actions [class]="'btn_actions'">
            <button mat-raised-button color="primary" (click)="logIn()">
                Log In
            </button>
            <button mat-button mat-dialog-close>Cancel</button>
        </mat-dialog-actions>
    </mat-tab>
</mat-tab-group>

<!-- <div *ngIf="showsignUpResultMessage | async">
    <span>
        Accaunt was created and confirmation link was send to you email. Please
        confirm you email.
    </span>
</div> -->
<!-- <div *ngIf="!(isSignUp$ | async)">
    <h3 style="color: white;" mat-dialog-title>LogIn</h3>
    <mat-dialog-content>
      
    </mat-dialog-content>
  
</div> -->
