.title__color {
    color: white;
    display: flex;
    justify-content: space-between;
}

.stream__init_btn__container {
    display: flex;
    justify-content: space-between;
}

form {
    display: flex;
    flex-direction: column;
}

.dialog__size {
    width: 100px;
}

.stream__option__description__container {
    display: flex;
    justify-content: space-around;
}
.pointer {
    cursor: pointer;
}
