<div class="stream_grid_container" [ngClass]="{ stream_grid_container_without_chat: isChatReomoved }">
    <div class="item-1">
        <app-stream-player [channelSource]="channel.currentStream.locationPath"></app-stream-player>
    </div>
    <div *ngIf="!isChatReomoved" class="item-2">
        <app-chat></app-chat>
    </div>
    <div class="item-3">
        <app-stream-description></app-stream-description>
    </div>
    <div *ngIf="!isChatReomoved" class="item-4">
        <app-chat-forms></app-chat-forms>
    </div>
</div>