video {
    height: 77vh;
    width: 100%;
}

.stream__player--stopped {
    background: transparent url("../../../../assets/VideoBacground.png") no-repeat 0 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@media (max-height: 695px) {
    video {
        height: 75vh;
    }
}

@media (max-height: 643px) {
    video {
        height: 73vh;
    }
}
@media (max-height: 590px) {
    video {
        height: 67vh;
    }
}
.timeline--dissabled {
    video::-webkit-media-controls-time-remaining-display {
        display: none;
    }
}

// video::-webkit-media-controls-timeline-container {
//     display: none;
// }

video:focus {
    outline: none;
}
