<app-email-verification *ngIf="isEmailConfirmationMessage">
</app-email-verification>

<div *ngIf="channels" style="margin-top: 15px;" class="uk-text-center" uk-grid>
    <div *ngFor="let channel of channels" class="uk-width-1-4@m">
        <app-stream-preview [chanel]="channel"></app-stream-preview>
    </div>

    <!-- <div *ngFor="let savedStream of savedStreams" class="uk-width-1-4@m">
        --sss--
        <app-saved-stream-page
            [savedStreams]="savedStream"
        ></app-saved-stream-page>
    </div>
    <hr /> -->
</div>
