.stream__separator__title {
    font-size: 20px;
    color: white;
    margin-left: 43px;
    margin-top: 20px;
    margin-bottom: 5px;
    width: 439px;
    border-bottom: 1px solid rgba(139, 139, 139, 0.2);

    &__offline {
        margin-top: 30px;
    }
}

.channe__conainer_margin {
    margin-left: 5px;
}
